spring:
  application:
    name: igc-backend
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        options:
          model: ${OPENAI_CHAT_MODEL}

server:
  port: 8080

blockchain:
  rpc-url: http://localhost:8548
  chain-id: 1337
  contract-address: ${BLOCKCHAIN_CONTRACT_ADDRESS}
  admin-private-key: ${BLOCKCHAIN_ADMIN_PRIVATE_KEY}
  issuer-name: "IUH"

security:
  cors:
    allowed-origins: ${SECURITY_CORS_ALLOWED_ORIGINS}
  jwt:
    secret: ${SECURITY_JWT_SECRET}
    access-token-expiration: "300"
    refresh-token-expiration: "86400"
  cookie:
    same-site: "None"
    secure: "true"
    refresh-token-name: "refresh_token"

aws:
  access-key: ${AWS_ACCESS_KEY}
  secret-key: ${AWS_SECRET_KEY}
  s3:
    bucket-name: ${AWS_BUCKET_NAME}
    domain: ${AWS_DOMAIN}
    region: ${AWS_REGION}

logging:
  level:
    root: INFO
    com.certificate.blockchain: DEBUG
    org.web3j: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true
      status:
        http-mapping:
          UP: 200
          DOWN: 503
